body {
    color: black;
    font-family: sans-serif
}
p {
}
header{
    background-color: green;/*Temp*/
}
footer{
    background-color: teal;/*Temp*/
    color: white;/*Temp*/
}
/*Classes*/

.navSideBar {
    background-color: red;/*Temp*/
    width: 20%;
}
.pageBody{
    background-color: yellow;
}
