body {
    color: black;
    font-family: sans-serif
}
p {
}
header{
    background-color: limegreen;/*Temp*/
    border-color: black;/*Temp*/
    border-style: solid;/*Temp*/
}
footer{
    background-color: teal;/*Temp*/
    color: white;/*Temp*/
    border-color: black;/*Temp*/
    border-style: solid;/*Temp*/
}
/*Classes*/

.navSideBar {
    background-color: red;/*Temp*/
    border-color: black;/*Temp*/
    border-style: solid;/*Temp*/
}
.pageBody{
    background-color: yellow;
    border-color: black;/*Temp*/
    border-style: solid;/*Temp*/
}
